@font-face {
    font-family: 'SCP-black';
    src: url(font/source-code-pro/SourceCodePro-Black.ttf);
}

@font-face {
    font-family: 'SCP-bold';
    src: url(font/source-code-pro/SourceCodePro-Bold.ttf);
}

@font-face {
    font-family: 'SCP-extralight';
    src: url(font/source-code-pro/SourceCodePro-ExtraLight.ttf);
}

@font-face {
    font-family: 'SCP-light';
    src: url(font/source-code-pro/SourceCodePro-Light.ttf);
}

@font-face {
    font-family: 'SCP-medium';
    src: url(font/source-code-pro/SourceCodePro-Medium.ttf);
}

@font-face {
    font-family: 'SCP-regular';
    src: url(font/source-code-pro/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: 'SCP-semibold';
    src: url(font/source-code-pro/SourceCodePro-Semibold.ttf);
}

body{
    background-color: #000;
    overflow-y: hidden;

}

html, body{
    margin: auto;
    padding: 0;
}

button{
    border: 0px;
    opacity: 90%;
    border-radius: 1px;
}

a{
    text-decoration: none;
    color: #fff;
}
ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style-type: none;
}

.header-scarlxrd{
    display: flex;
    flex-direction: row;
    margin-bottom: 230px;
    position: relative;
    z-index: 1;
}

.header-ul{
    position: relative;
    z-index: 1;
}

.ul-int{
}

.li-int{
    font-size: 16px;
    font-family: SCP-extralight;
    padding: 18px;
    margin-top: 28px;
}

.img-topbar{
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 75px;
    margin-left: 28%;
    margin-top: 10px;
    z-index: 2;
}

.btn-dxxm2{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 666px;
    padding-bottom: 150px;
}

.btn-scarlxrd{
    padding: 20px;
    background-color: grey;
    color: #fff;
    font-family: SCP-extralight;
    margin-right: 200px;
}

.btn-scarlxrd2{
    padding: 20px;
    background-color: grey;
    color: #fff;
    font-family: SCP-extralight;
    margin-right: 80px;
}

.sheeesh{
    display: flex;
    justify-content: center;
}

.cs{
    color: #fff;
    font-size: 80px;
    font-family: SCP-extralight;
    padding-bottom: 180px;
}

.img-sheesh{
    display: flex;
    justify-content: center;
}

.footer{
    background-color: black;
}

.social-network{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.footer-img{
    height: 24px;
    width: 24px;
    margin: 8px;
}

.spotify-apple{
    display: flex;
    justify-content: center;
}

.follow-img{
    height: 24px;
    width: 90px;
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
}

.footer-copyright{

}

.copyright{
    font-family: SCP-extralight;
    margin: 0;
    color: #fff;
    padding-top: 40px;
    text-align: center;
}

.tos-etc{
    text-align: center;
    padding: 40px;
    font-family: SCP-extralight;
}