@font-face {
    font-family: 'SCP-black';
    src: url(font/source-code-pro/SourceCodePro-Black.ttf);
}

@font-face {
    font-family: 'SCP-bold';
    src: url(font/source-code-pro/SourceCodePro-Bold.ttf);
}

@font-face {
    font-family: 'SCP-extralight';
    src: url(font/source-code-pro/SourceCodePro-ExtraLight.ttf);
}

@font-face {
    font-family: 'SCP-light';
    src: url(font/source-code-pro/SourceCodePro-Light.ttf);
}

@font-face {
    font-family: 'SCP-medium';
    src: url(font/source-code-pro/SourceCodePro-Medium.ttf);
}

@font-face {
    font-family: 'SCP-regular';
    src: url(font/source-code-pro/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: 'SCP-semibold';
    src: url(font/source-code-pro/SourceCodePro-Semibold.ttf);
}

body{
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
}

html, body{
    margin: auto;
    padding: 0;
}

button{
    border: 0px;
    opacity: 90%;
    border-radius: 1px;
    background-color: gray;
    color: #fff;
    transition-duration: 0.3s;
}

button:hover {
    background: rgb(58, 58, 58);
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style-type: none;
}

.header-scarlxrd{
    display: flex;
    flex-direction: row;
    margin-bottom: 600px;
    position: relative;
    z-index: 1;
}

.header-ul{
    position: relative;
    z-index: 1;
}

.li-int{
    font-size: 16px;
    font-family: SCP-extralight;
    padding: 18px;
    margin-top: 28px;
    transition-duration: 0.3s;
}

.li-int:hover {
    text-decoration: underline;
}

.img-topbar{
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 75px;
    margin-left: 28%;
    margin-top: 10px;
    z-index: 2;
}

.btn-dxxm2{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 666px;
    padding-bottom: 150px;
}

.btn-scarlxrd{
    padding: 20px;
    background-color: grey;
    color: #fff;
    font-family: SCP-extralight;
}

.btn-scarlxrd2{
    padding: 20px;
    background-color: grey;
    color: #fff;
    font-family: SCP-extralight;
}

.apo{
    background-image: url(img/apo.jpg);
    background-position: center;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.apo-txt{
    font-family: 'SCP-extralight';
    font-size: 80px;
   color: #fff; 
   padding-top: 20px;
}

.apo-btn{
    padding: 20px;
    background-color: grey;
    color: #fff;
    font-family: SCP-extralight;
    margin-top: -50px;
    padding-left: 20px;
    padding-right: 20px;
}

.evil{
    background-image: url(img/evil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.evil-txt{
    font-family: 'SCP-extralight';
    font-size: 80px;
    color: #fff; 
    padding-top: 20px;
}

.evil-btn{
    padding: 20px;
    background-color: grey;
    color: #fff;
    font-family: SCP-extralight;
    margin-top: -50px;
}

.red{
    background-image: url(img/red.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.red-txt{
   font-family: 'SCP-extralight';
   font-size: 80px;
   color: #fff; 
   padding-top: 20px;
}

.red-btn{
    padding: 20px;
    background-color: grey;
    color: #fff;
    font-family: SCP-extralight;
    margin-top: -50px;
}

.fnaf{
    background-image: url(img/fnaf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.fnaf-txt{
    font-family: 'SCP-extralight';
    font-size: 80px;
   color: #fff; 
   padding-top: 20px;
}

.fnaf-btn{
    padding: 20px;
    background-color: grey;
    color: #fff;
    font-family: SCP-extralight;
    margin-top: -50px;
}

.footer{
    background-color: black;
}

.social-network{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.footer-img{
    height: 24px;
    width: 24px;
    margin: 8px;
}

.spotify-apple{
    display: flex;
    justify-content: center;
}

.follow-img{
    height: 24px;
    width: 90px;
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
}

.footer-copyright{

}

.copyright{
    font-family: SCP-extralight;
    margin: 0;
    color: #fff;
    padding-top: 40px;
    text-align: center;
}

.tos-etc{
    text-align: center;
    padding: 40px;
    font-family: SCP-extralight;
}