@font-face {
    font-family: 'SCP-black';
    src: url(font/source-code-pro/SourceCodePro-Black.ttf);
}

@font-face {
    font-family: 'SCP-bold';
    src: url(font/source-code-pro/SourceCodePro-Bold.ttf);
}

@font-face {
    font-family: 'SCP-extralight';
    src: url(font/source-code-pro/SourceCodePro-ExtraLight.ttf);
}

@font-face {
    font-family: 'SCP-light';
    src: url(font/source-code-pro/SourceCodePro-Light.ttf);
}

@font-face {
    font-family: 'SCP-medium';
    src: url(font/source-code-pro/SourceCodePro-Medium.ttf);
}

@font-face {
    font-family: 'SCP-regular';
    src: url(font/source-code-pro/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: 'SCP-semibold';
    src: url(font/source-code-pro/SourceCodePro-Semibold.ttf);
}

body{
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: scroll;

}

html, body{
    margin: auto;
    padding: 0;
}

button{
    border: 0px;
    opacity: 90%;
    border-radius: 1px;
}

a{
    text-decoration: none;
    color: #fff;
}
ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style-type: none;
}

.header-scarlxrd{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.header-ul{
    position: relative;
    z-index: 1;
}

.ul-int{
}

.li-int{
    font-size: 16px;
    font-family: SCP-extralight;
    padding: 18px;
    margin-top: 28px;
}

.img-topbar{
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 75px;
    margin-left: 29%;
    margin-top: 10px;
    z-index: 2;
    margin-bottom: 80px;
}

.sign-up{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
}

.form-sign-up{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sign-up-h1{
    font-family: SCP-extralight;
    font-size: 80px;
    color: #fff;
}

.input-entry{
    color: #737373;
    font-family: SCP-extralight;
    text-align: left;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px
}

.btn-submit{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #404040;
    font-family: arial;
    font-size: 16px;
    padding: 22px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    opacity: 90%;
    margin-bottom: 30px;
}

.tos-pp{
    font-family: arial;
    font-size: 10px;
    color: #fff;
}

.footer{
    background-color: black;
}

.social-network{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.footer-img{
    height: 24px;
    width: 24px;
    margin: 8px;
}

.spotify-apple{
    display: flex;
    justify-content: center;
}

.follow-img{
    height: 24px;
    width: 90px;
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
}

.footer-copyright{

}

.copyright{
    font-family: SCP-extralight;
    margin: 0;
    color: #fff;
    padding-top: 40px;
    text-align: center;
}

.tos-etc{
    text-align: center;
    padding: 40px;
    font-family: SCP-extralight;
}