@font-face {
    font-family: 'SCP-black';
    src: url(font/source-code-pro/SourceCodePro-Black.ttf);
}

@font-face {
    font-family: 'SCP-bold';
    src: url(font/source-code-pro/SourceCodePro-Bold.ttf);
}

@font-face {
    font-family: 'SCP-extralight';
    src: url(font/source-code-pro/SourceCodePro-ExtraLight.ttf);
}

@font-face {
    font-family: 'SCP-light';
    src: url(font/source-code-pro/SourceCodePro-Light.ttf);
}

@font-face {
    font-family: 'SCP-medium';
    src: url(font/source-code-pro/SourceCodePro-Medium.ttf);
}

@font-face {
    font-family: 'SCP-regular';
    src: url(font/source-code-pro/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: 'SCP-semibold';
    src: url(font/source-code-pro/SourceCodePro-Semibold.ttf);
}

body{
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow-x: hidden;

}

html, body{
    margin: auto;
    padding: 0;
}

li{
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-family: SCP-extralight;
}

select {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: SCP-extralight;
    font-size: 16px;
    text-decoration: underline;
}

option{
    color: #000;
    font-size: 16px;
    font-family: SCP-extralight;
}

a{
    text-decoration: underline;
    color: #fff;
    opacity: 90%;
}

a:before{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: underline;
    color: #fff;
}

p:before{
    text-decoration: none;
    color: #fff;
}

p:after{
    text-decoration: underline;
    color: #fff;
}

.all-a{
    font-family: SCP-extralight;
    font-size: 14px; 
    text-decoration: none; 
    color: #fff;
}

.all-p{
    font-family: SCP-extralight;
    font-size: 14px;
    color: #fff;
    padding-top: 20px;
}

.all-hr{
    opacity: 50%;
    width: 650px;
    margin-left: -10px;
}
.head{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: black;
}

.container{
    padding-top: 100px;
}

.head-img{
    width: 208px;
    height: 40px;
    padding: 10px;
}

.login-order{
    color: #fff;
    font-family: SCP-extralight;
    display: flex;
}

.head-li{
    padding: 10px;
}

.first{
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    padding-right: 200px;
}

.hoodies{
    display: flex;
    flex-direction: column;
}

.hoodies-img{
    width: 692px;
    height: 692px;
}

.long-sleeve{
    display: flex;
    flex-direction: column;
}

.long-sleeve-img{
    width: 692px;
    height: 692px;
}

.before{
    width: 100%;
    opacity: 20%;
}

.footer-global{
    padding-left: 200px;
    padding-right: 200px;
}

.footer-link{  
    display: flex;
    flex-direction: row;
}

.footer-other{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    padding-bottom: 20px;
}

.ul-other{
    display: flex;
    flex-direction: row;
}

.social-network{
    display: flex;
    flex-direction: row;
}

.li-footer{
    padding: 10px;
    padding-top: -5px;
    padding-bottom: -5px;
}

.footer-other{
    text-decoration: none;
}

.li-footer{

}

